* {
    margin: 0;
    padding: 0
}

html, body {
    width: 100%;
    height: 100%
}

body {
    background-color: #efe9f1;
    font-family: 'Overpass mono', monospace;
}

#cabecera {
    background-color: #d5bddd;
    width: 100%;
    height: 10%;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
    /*border: 1px solid*/
}

#contenido {
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    /*border: 1px solid*/
}

h2 {
    height: 6%;
    text-align: center;
    padding: 8px 0px;
    /*border: 1px solid*/
}

#articuloUno {
    flex-basis: calc(100% / 2);
    height: 40%;
    /*float: left;*/
    order: 1;
    text-align: justify;
    vertical-align: center;
    padding: 10px 0px 20px;
    /*border-top: 1px solid; 
    border-bottom: 1px solid;*/
}

#articuloDos {
    flex-basis: calc(100% / 2);
    height: 40%;
    /*float: right;*/
    /*border: 1px solid;*/
    order: 2;
}

img {
    width: 20%;
    height: 80%;
    text-align: center;
    border-radius: 50%
}

#articuloTres {
    flex-basis: calc(100% / 2);
    height: 40%;
    order: 3;
    text-align: center;
    /*float: left;*/
    padding: 30px 0px;
    /*border-top: 1px solid; 
    border-bottom: 1px solid;*/
}

ul {
    text-align: left
}

#articuloCuatro {
    font-family: 'Nova Mono', monospace;
    flex-basis: calc(100% / 2);
    height: 40%;
    order: 4;
    text-align: center;
    /*float: right;*/
    padding: 30px 0px;
    /*border: 1px solid*/
}

footer {
    clear: both;
    background-color: #d5bddd;
    padding: 10px 0px;
    width: 100%;
    height: 10%;
    text-align: center;
    /*border: 1px solid*/
}