* {
	margin: 0;
    padding: 0
}

html, body {
    width: 100%;
    height: 100%
}

body {
    background-color: #efe9f1;
    font-family: 'Overpass mono', monospace;
}

#cabecera {
    background-color: #d5bddd;
    width: 100%;
    height: 10%;
    font-size: 30px;
    text-align: center;
    padding: 20px
}

#seccionUno {
    width: 100%;
    height: 30%;
    padding: 20px 10px
}

#seccionUno > header {
    text-align: center
}

img {
    width: 10%;
    height: 10%;
    border-radius: 50%
}

#seccionDos {
    width: 50%;
    height: 20%;
    text-align: center;
    float: left;
    padding: 30px 0
}

ul {
    text-align: left
}

#seccionTres {
    font-family: 'Nova Mono', monospace;
    width: 50%;
    height: 20%;
    text-align: center;
    float: left;
    padding: 30px 0
}

footer {
    clear: both;
    background-color: #d5bddd;
    padding: 30px;
    width: 100%;
    text-align: center
}